<div data-role="view" id="add-item"
	data-title="Share"
	data-layout="app-layout"

	data-init="app.viewModels.addItem.init"
	data-show="app.viewModels.addItem.show"
	data-model="app.viewModels.addItem">
	<div id="enterStatus">
		<ul data-role="listview" data-style="inset">
			<li>
				<textarea id="description" placeholder="What are you sharing today?" required validationmessage="required"></textarea>
				<div id="newCommentValidation" class="validation">required</div>
			</li>

			<li>
				<label for="qty">Quantity<input id="qty" type="number" /></label>
			</li>

			<li>
				<label>
					Distribution Type
			<select id="selectDistributionType">
				<option value="shuffle">Shuffle</option>
				<option value="rating">Rating</option>
				<option value="rating+shuffle">Rating+Shuffle</option>
				<option value="fifo">First-in-first-out</option>
			</select>

				</label>
			</li>

			<li>
				<label>
					Start Time
			<input id="startTime" type="datetime-local" value="" />
				</label>
			</li>
			<li>
				<label>
					End Time
			<input id="endTime" type="datetime-local" value="" />
				</label>
			</li>
            <li>
                Personal<input id="selectType" type="checkbox" data-role="switch" data-on-label="Yes"
                     data-off-label="No" />
			</li>
			<li style="text-align:center">
				<button id="share" data-role="button" data-bind="click: saveItem" class="btn-big"><i class="fa fa-gift"></i> Share</button>
				<button id="cancel" data-role="backbutton" class="btn-big"><i class="fa fa-angle-double-left"></i> Not now</button>
			</li>
		</ul>
	</div>
</div>

