<div data-role="view" id="add-item"
	data-title="Share"
	data-layout="app-layout"
	data-transition="overlay:up"
	data-init="app.viewModels.addItem.init"
	data-show="app.viewModels.addItem.show"
	data-model="app.viewModels.addItem">
	<div id="enterStatus">
		<ul data-role="listview" data-style="inset">
			<li>
				<textarea id="description" placeholder="What you have to share today?" required validationmessage="required"></textarea>
				<div id="newCommentValidation" class="validation">required</div>
			</li>

			<li>
				<label for="qty">Quantity<input id="qty" type="number" /></label>
			</li>

			<li>
				<label>
					Distribution Type
			<select>
				<option value="shuffle">Shuffle</option>
				<option value="rating">Rating</option>
				<option value="rating+shuffle">Rating+Shuffle</option>
				<option value="fifo">First-in-first-out</option>
			</select>

				</label>
			</li>

			<li>
				<label>
					Start Time
			<input id="Datetime-local1" type="datetime-local" value="" />
				</label>
			</li>
			<li>
				<label>
					End Time
			<input id="endTime" type="datetime-local" value="" />
				</label>
			</li>

			<li>
				<button id="share" data-role="button">Share</button>
				<button id="cancel" data-role="backbutton">Not now</button>
			</li>
		</ul>
	</div>
</div>
<!--Name, Quantity, StartTime, EndTime, Algorithm-->
