<div data-role="view" 
    id="single-item" 
    data-layout="app-layout" 
    class="items-view" 
    data-show="app.viewModels.item.show">
    <header data-role="header">
        <div data-role="navbar">
            Deal
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>

    <div id="status-container" class="user-status-wrp" data-role="listview" data-style="inset">
        <div class="user-info">
            <img data-bind="attr:{src: User().PictureUrl}" alt="styles/images/avatar.png" />
            <h2 id="personName" data-bind='text: User().DisplayName'></h2>
            shares
        </div>
        <img id="picture" data-bind="attr:{src: PictureUrl()}" width="100%"/>
        <div class="user-share">
            <span id="Span1" data-bind="text: Quantity" class="user-share-txt"></span> x <span id="itemText" data-bind="    text: Description" class="user-share-txt"></span> <br/>
        </div>

        <li style="text-align:center">
			<button id="subscribe" data-role="button" data-click="app.viewModels.item.subscribe" class="btn-big"><i class="fa fa-plus-circle"></i> Join the raffle</button>
		</li>
    </div>
</div>