<div data-role="view" 
    id="single-item" 
    data-layout="default" 
    class="items-view" 
    data-show="app.viewModels.item.show">
    <header data-role="header">
        <div data-role="navbar">
            Perk
            <a class="nav-button" data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>

    <div id="status-container" class="user-status-wrp" data-role="listview" data-style="inset">
        <div class="user-info">
            <img data-bind="attr:{src: User().PictureUrl}" alt="styles/images/avatar.png" />
            <h2 id="personName" data-bind='text: User().DisplayName'></h2>
            <time id="itemDate" data-bind="text: EndTime"></time>
        </div>
        <img id="picture" data-bind="attr:{src: PictureUrl()}" width="100%"/>
        <div class="user-share">
            <span id="itemText" data-bind="text: Description" class="user-share-txt"></span>
        </div>
    </div>
</div>