<div data-role="view"
	 data-title="Leadership Board"
	 id="leader-board"
	 data-layout="app-layout"
	 class="items-view"
	 data-model="app.viewModels.leaderBoard"
	 data-init="app.viewModels.leaderBoard.init"
	 data-show="app.viewModels.leaderBoard.show">

    <ul id="items-listview" data-style="inset" data-role="listview" data-template="leaderItemTemplate"
        data-bind="source: items"></ul>
</div>

<script type="text/x-kendo-template" id="leaderItemTemplate">
	#if (hasCup) {#
		<div>
			<p data-icon="none"
			   class="fa fa-trophy"
			   href="views/addItemView.html">
				<b>${DisplayName}</b><br/><br/>
				<i style="margin-left:10px;">${Points} points</i>
			</p>
		</div>
	#}
	else {#
		<div>
			<p data-icon="none"
			   href="views/addItemView.html">
				<b>${DisplayName}</b><br/>
				<i style="margin-left:10px;">${Points} points</i>
			</p>
		</div>
        #}#
</script>

