<div data-role="view"
	 data-title="Leadership Board"
	 id="leader-board"
	 data-layout="app-layout"
	 class="items-view"
	 data-model="app.viewModels.leaderBoard"
	 data-init="app.viewModels.leaderBoard.init"
	 data-show="app.viewModels.leaderBoard.show">

    <ul id="items-listview" data-style="inset" data-role="listview" data-template="leaderItemTemplate"
        data-bind="source: items"></ul>
</div>

<script type="text/x-kendo-template" id="leaderItemTemplate">
    <div>
		${Email} has ${Points} points 
    </div>
</script>